a2wsgi==1.10.10
aesara==2.9.4
agents==1.4.0
aiocontextvars==0.2.2
aioquic==1.2.0
amdsmi==7.0.1
apache_beam==2.68.0
api_client==1.3.1
array_api_strict==2.4.1
astropy==7.1.0
asttokens==3.0.0
astunparse==1.6.3
attr==0.3.2
av==15.1.0
billiard==4.2.2
blinker==1.9.0
botocore==1.40.40
brotli==1.1.0
brotlicffi==1.1.0.0
ca_certs_locater==1.0
channels==4.3.1
chardet==5.2.0
checks==0.2
ConfigParser==7.2.0
contextlib2==21.6.0
coremltools==8.3.0
ctypes_snappy==1.03
curio==1.6
Cython==3.1.4
deeplearning==0.0.1
defusedxml==0.7.1
dill==0.4.0
djangorestframework==3.16.1
dl==0.1.0
docutils==0.22.2
etcd==2.0.8
eval_type_backport==0.2.2
eventlet==0.40.3
exceptiongroup==1.3.0
expecttest==0.3.0
fastparquet==2024.11.0
fbscribelogger==0.1.7
flask_login==0.6.3
flint==0.0.1
# foo==.1
gdown==5.2.0
gmpy2==2.2.1
greenlet==3.2.4
grpc_reflection==1.0.0
grpc_tools==1.0.0
gspread==6.2.1
gunicorn==23.0.0
h2==4.3.0
h5py==3.14.0
helion==0.1.3
HTMLParser==0.0.2
hypothesis==6.140.2
imagecodecs==2025.8.2
imageio_ffmpeg==0.6.0
importlib_resources==6.5.2
imread==0.7.6
ini2toml==0.15
ipython==9.5.0
ipywidgets==8.1.7
isal==1.8.0
itk==5.4.4.post1
itsdangerous==2.2.0
jax==0.7.2
jnius==1.1.0
kerberos==1.3.1
kerchunk==0.2.9
keyring==25.6.0
kombu==5.5.4
langchain_core==0.3.76
ldclient==0.0.1
lmdb==1.7.3
lxml==6.0.2
lz4==4.4.4
lzmaffi==0.3.0
matchpy==0.5.5
monkeytype==23.3.0
moviepy==2.2.1
mtrand==0.1
multidict==6.6.4
multiset==3.2.0
ndonnx==0.16.0
numpydoc==1.9.0
oauth2client==4.1.3
objgraph==3.6.2
olefile==0.47
onnx_ir==0.1.9
onnxscript==0.5.2
optree==0.17.0
orjson==3.11.3
osgeo==0.0.1
outcome==1.3.0.post0
pandas==2.3.2
paramiko==4.0.0
path.py==12.5.0
pathlib2==2.3.7.post1
pickle5==0.0.12
pillow_heif==1.1.0
pkg1==0.0.3
pooch==1.8.2
psutil==7.1.0
pulp==3.3.0
pwlf==2.5.2
py==1.11.0
py4j==0.10.9.9
pyamg==5.3.0
pyarrow==21.0.0
pycocotools==2.0.10
pycosat==0.6.6
pycute==0.1.0
pydot==4.0.1
pydy==0.8.0
pygit2==1.18.2
pyglet==2.1.9
pygraphviz==1.14
PyInstaller==6.16.0
pyinstrument==5.1.1
pymc==5.25.1
pymc3==3.11.6
pymongo_auth_aws==1.3.0
pymongocrypt==1.16.0
pynvml==13.0.1
pyodide==0.0.2
pyOpenSSL==25.3.0
PyQt6==6.9.1
pysat==3.2.2
PySide6==6.9.2
pyspark==4.0.1
pytest_fail_slow==0.6.0
pytest_run_parallel==0.7.0
pytest_subtests==0.14.2
pytest_timeout==2.4.0
python_socks==2.7.2
pytorch_lightning==2.5.5
pytz==2025.2
pyu2f==0.1.5
quart_auth==0.11.0
railroad==0.5.0
rediscluster==0.5.3
requests_kerberos==0.15.0
safetensors==0.6.2
sage==0.0.0
scikit_learn==1.7.2
scikits.talkbox==0.2.5
scipy_doctest==2.0.1
sentencepiece==0.2.1
service_identity==24.2.0
setuptools_scm==9.2.0
SimpleITK==2.5.2
simplejson==3.20.2
slack_sdk==3.36.0
smbprotocol==1.15.0
socksio==1.0.0
Sphinx==8.2.3
symengine==0.14.1
tabulate==0.9.0
theano==1.0.5
thread==2.0.5
threadpoolctl==3.6.0
tiktoken==0.11.0
toml==0.10.2
torch_xla==2.8.1
torchaudio==2.8.0
torchrec==1.3.0
torchvision_extra_decoders==0.0.2
trove_classifiers==2025.9.11.17
ujson==5.11.0
UnleashClient==6.3.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
uv==0.8.22
uwsgi==2.0.30
WebOb==1.8.9
Werkzeug==3.1.3
winkerberos==0.12.2
wmi==1.5.1
wsproto==1.2.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
xx==3.3.2
yarl==1.20.1
z3==0.2.0
zstandard==0.25.0
zstd==1.5.7.2
